/*
font-family: 'Roboto', sans-serif;
*/

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
textarea {
  outline: 0;
}

input:active,
textarea:active {
  outline: 0;
}

:focus {
  outline: 0;
}

ul {
  -webkit-margin-before: 0em;
  margin-block-start: 0em;
  -webkit-margin-after: 0em;
  margin-block-end: 0em;
  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol[class],
p,
ul[class] {
  margin: 0;
}

body {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

main {
  max-width: 2050px;
  margin: 0 auto;
}

footer {
  position: relative;
}

/*=======================RESET==========================*/

/*=======================COMMON==========================*/

ul {
  list-style-type: none;
}

a {
  color: #999999;
}

.link {
  color: #454647;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link:hover {
  color: #00c8c8;
}

.big_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1780px;
  margin: 20px auto 0 auto;
  background-color: transparent;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main_container {
  max-width: 1780px;
  margin: 0 auto;
}

.small_container {
  max-width: 1175px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 45px;
}

.nav_container {
  max-width: 1175px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  text-align: right;
  height: 45px;
}

section {
  overflow-x: hidden;
}

.hide {
  display: none !important;
}

.btn {
  width: 350px;
  line-height: 60px;
  font-size: 16px;
  color: #454647;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #454647;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #00c8c8;
  color: white;
  border: 2px solid #00c8c8;
}

.head_logo_link_mobal_version,
.search_form_mobal_version {
  display: none;
}

/*=======================COMMON==========================*/

/*=======================TOP-HEAD==========================*/

.top_header {
  background-color: #333333;
  height: 45px;
}

.top_header_li {
  padding-top: 10px;
  cursor: pointer;
}

.top_list_btn {
  font-size: calc(10px + 3 *(100vw / 2050));
  padding: 5px;
  background: transparent;
  line-height: 1.138;
  color: #999999;
  border: 0;
  cursor: pointer;
}

.top_menu_actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sing_in_btn {
  margin-left: 35px;
}

.cart_btn_li {
  margin-left: 80px;
  height: 45px;
  background-color: #00c8c8;
}

.cart_btn {
  position: relative;
  color: white;
  width: 150px;
}

.cart_btn:before {
  content: '';
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: block;
  background-image: url(../img/cart_white.png);
  height: 17px;
  width: 20px;
}

.cart_btn:after {
  content: '';
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: block;
  background-image: url(../img/arrow_down_white.png);
  background-repeat: no-repeat;
  height: 5px;
  width: 8px;
}

.currency_li {
  position: relative;
  padding: 10px 15px 15px 5px;
}

.choose_currency_btn {
  position: relative;
  padding: 8px;
}

.choose_currency_btn:after {
  content: '';
  position: absolute;
  right: -9px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: block;
  height: 5px;
  width: 8px;
  background-image: url(../img/arrow_down_gray.png);
  background-repeat: no-repeat;
}

.submenu_list {
  position: absolute;
  display: none;
  top: 44px;
  left: 12px;
  background-color: #333333;
  border: 0;
  z-index: 2;
}

.submenu_list.active {
  display: block;
}

.submenu_currency_li {
  padding: 8px 10px;
  margin-right: 20px;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.submenu_currency_li:hover {
  text-decoration: underline;
}

.currency_type_btn1,
.currency_type_btn2,
.currency_type_btn3,
.currency_type_btn4 {
  position: relative;
}

.currency_type_btn1:after,
.currency_type_btn2:after,
.currency_type_btn3:after,
.currency_type_btn4:after {
  position: absolute;
  right: -15px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: block;
  content: '';
  height: 11px;
  width: 10px;
  fill: white;
  background-repeat: no-repeat;
}

.currency_type_btn1:after {
  background-image: url(../img/003-euro.png);
}

.currency_type_btn2:after {
  background-image: url(../img/001-dollar.png);
}

.currency_type_btn3:after {
  background-image: url(../img/002-pound-sterling.png);
}

.currency_type_btn4:after {
  background-image: url(../img/004-chinese-yuan.png);
}

/*=======================TOP-HEAD==========================*/

/*==============HEADER_NAV======HEAD_BOT====================*/

.header_bot {
  position: relative;
}

.bot_head_container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  max-width: 1175px;
}

.head_logo_link {
  margin: 0px 65px 0px 5px;
  z-index: 1;
}

.burger_box,
.burger_logo,
.ul_burger,
.account_actions_box {
  display: none;
}

.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.nav_list_item {
  position: relative;
  padding: 10px 30px;
  z-index: 2;
}

.nav_list_item:last-child {
  padding: 10px 0px 10px 30px;
}

.nav_link {
  position: relative;
  font-weight: 400;
  color: black;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1.538;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
  padding: 15px 0px;
}

.nav_link.active {
  color: #00c8c8;
}

.nav_link:hover {
  color: #00c8c8;
}

.nav_link_ar:after {
  position: absolute;
  display: block;
  bottom: -15px;
  left: 2px;
  content: '';
  height: 11px;
  padding: 10px 30px 10px 10px;
  width: 10px;
  background-image: url(../img/arrow_down_gray.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav_link:nth-child(3):after {
  display: none;
}

.nav_link.active.nav_link:after {
  position: absolute;
  display: block;
  bottom: -15px;
  left: 2px;
  content: '';
  height: 11px;
  width: 10px;
  padding: 10px 30px 10px 10px;
  background-image: url(../img/arrow_down.png);
  background-position: 50% 50%;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background-repeat: no-repeat;
}

.nav_sublists_box {
  position: absolute;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  left: 30px;
  top: 0px;
  padding-top: 80px;
  -webkit-box-shadow: 3px 21px 77px -15px #878787;
  box-shadow: 3px 21px 77px -15px #878787;
}

.nav_sublists_box:hover {
  display: block;
}

.nav_sublists_box:last-child {
  position: absolute;
  display: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  left: -150px;
  top: 60px;
  -webkit-box-shadow: 3px 21px 77px -15px #878787;
  box-shadow: 3px 21px 77px -15px #878787;
}

.nav_sublists_box.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.sub_lists_box {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav_sublist {
  width: 50%;
  padding: 35px 50px 10px 35px;
}

.nav_sublist_item {
  margin-bottom: 10px;
  text-align: left;
}

.nav_sublist_item:first-child .nav_sub_link {
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 30px;
  font-weight: 500;
  color: #575153;
}

.nav_sub_link {
  line-height: 2.143;
  font-weight: 300;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 10px;
}

.nav_sub_link:hover {
  text-decoration: underline;
}

.promotion_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  width: 400px;
  margin: 35px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-color: #333333;
}

.promotion_link {
  padding: 60px 20px;
  color: white;
  font-size: 26px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 2px;
  width: 100%;
}

.promotion_link span {
  font-weight: 600;
}

.head_search {
  position: relative;
  width: 190px;
  height: 30px;
  margin-top: 5px;
  border: 1px solid #e7e7e7;
  font-size: 16px;
  border-radius: 3px;
}

.search_btn {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  display: block;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  height: 20px;
  width: 20px;
  background-image: url(../img/search_ico.png);
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  z-index: 1;
}

.search_form {
  margin-left: 115px;
  position: relative;
  z-index: 1;
}

/*=======================RESET==========================*/

/*=======================COMMON==========================*/

ul {
  list-style-type: none;
}

a {
  color: #999999;
}

.link {
  color: #454647;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link:hover {
  color: #00c8c8;
}

.big_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1780px;
  margin: 10px auto 0 auto;
  background-color: transparent;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main_container {
  max-width: 1780px;
  margin: 0 auto;
}

.small_container {
  max-width: 1175px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 45px;
}

.nav_container {
  max-width: 1175px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  text-align: right;
  height: 45px;
}

section {
  overflow-x: hidden;
}

.hide {
  display: none !important;
}

.btn {
  width: 350px;
  line-height: 60px;
  font-size: 16px;
  color: #454647;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #454647;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #00c8c8;
  color: white;
  border: 2px solid #00c8c8;
}

.head_logo_link_mobal_version,
.search_form_mobal_version {
  display: none;
}

/*=======================COMMON==========================*/

/*=======================TOP-HEAD==========================*/

.top_header {
  background-color: #333333;
  height: 45px;
}

.top_header_li {
  padding-top: 10px;
  cursor: pointer;
}

.top_list_btn {
  font-size: calc(10px + 3 *(100vw / 2050));
  padding: 5px;
  background: transparent;
  line-height: 1.138;
  color: #999999;
  border: 0;
  cursor: pointer;
}

.top_menu_actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sing_in_btn {
  margin-left: 35px;
}

.cart_btn_li {
  margin-left: 80px;
  height: 45px;
  background-color: #00c8c8;
}

.cart_btn {
  position: relative;
  color: white;
  width: 150px;
}

.cart_btn:before {
  content: '';
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: block;
  background-image: url(../img/cart_white.png);
  height: 17px;
  width: 20px;
}

.cart_btn:after {
  content: '';
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: block;
  background-image: url(../img/arrow_down_white.png);
  background-repeat: no-repeat;
  height: 5px;
  width: 8px;
}

.currency_li {
  position: relative;
  padding: 10px 15px 15px 5px;
}

.choose_currency_btn {
  position: relative;
  padding: 8px;
}

.choose_currency_btn:after {
  content: '';
  position: absolute;
  right: -9px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: block;
  height: 5px;
  width: 8px;
  background-image: url(../img/arrow_down_gray.png);
  background-repeat: no-repeat;
}

.submenu_list {
  position: absolute;
  display: none;
  top: 44px;
  left: 12px;
  background-color: #333333;
  border: 0;
  z-index: 2;
}

.submenu_list.active {
  display: block;
}

.submenu_currency_li {
  padding: 8px 10px;
  margin-right: 20px;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.submenu_currency_li:hover {
  text-decoration: underline;
}

.currency_type_btn1,
.currency_type_btn2,
.currency_type_btn3,
.currency_type_btn4 {
  position: relative;
}

.currency_type_btn1:after,
.currency_type_btn2:after,
.currency_type_btn3:after,
.currency_type_btn4:after {
  position: absolute;
  right: -15px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: block;
  content: '';
  height: 11px;
  width: 10px;
  fill: white;
  background-repeat: no-repeat;
}

.currency_type_btn1:after {
  background-image: url(../img/003-euro.png);
}

.currency_type_btn2:after {
  background-image: url(../img/001-dollar.png);
}

.currency_type_btn3:after {
  background-image: url(../img/002-pound-sterling.png);
}

.currency_type_btn4:after {
  background-image: url(../img/004-chinese-yuan.png);
}

/*=======================TOP-HEAD==========================*/

/*==============HEADER_NAV======HEAD_BOT====================*/

.header_bot {
  position: relative;
}

.bot_head_container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  max-width: 1175px;
}

.head_logo_link {
  margin: 0px 65px 0px 5px;
  z-index: 1;
}

.head_logo {
  max-height: 100%;
  width: 100%;
}

.burger_box,
.burger_logo,
.ul_burger,
.account_actions_box {
  display: none;
}

.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.nav_list_item {
  position: relative;
  padding: 10px 30px;
  z-index: 2;
}

.nav_list_item:last-child {
  padding: 10px 0px 10px 30px;
}

.nav_link {
  position: relative;
  font-weight: 400;
  color: black;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1.538;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
  padding: 15px 0px;
}

.nav_link.active {
  color: #00c8c8;
}

.nav_link:hover {
  color: #00c8c8;
}

.nav_link_ar:after {
  position: absolute;
  display: block;
  bottom: -8px;
  left: 0px;
  content: '';
  height: 11px;
  padding: 10px 30px 10px 10px;
  width: 10px;
  background-image: url(../img/arrow_down_gray.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav_link:nth-child(3):after {
  display: none;
}

.nav_link.active.nav_link:after {
  position: absolute;
  display: block;
  bottom: -8px;
  left: 0px;
  content: '';
  height: 11px;
  width: 10px;
  padding: 10px 30px 10px 10px;
  background-image: url(../img/arrow_down.png);
  background-position: 50% 50%;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background-repeat: no-repeat;
}

.nav_sublists_box {
  position: absolute;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  left: 30px;
  top: 50px;
  padding-top: 50px;
  -webkit-box-shadow: 3px 21px 77px -15px #878787;
  box-shadow: 3px 21px 77px -15px #878787;
}

.nav_sublists_box:hover {
  display: block;
}

.nav_sublists_box:last-child {
  position: absolute;
  display: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  left: -150px;
  top: 50px;
  -webkit-box-shadow: 3px 21px 77px -15px #878787;
  box-shadow: 3px 21px 77px -15px #878787;
}

.nav_sublists_box.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.sub_lists_box {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav_sublist {
  width: 50%;
  padding: 35px 50px 10px 35px;
}

.nav_sublist_item {
  margin-bottom: 10px;
  text-align: left;
}

.nav_sublist_item:first-child .nav_sub_link {
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 30px;
  font-weight: 500;
  color: #575153;
}

.nav_sub_link {
  line-height: 2.143;
  font-weight: 300;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 10px;
}

.nav_sub_link:hover {
  text-decoration: underline;
}

.promotion_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  width: 400px;
  margin: 35px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-color: #333333;
}

.promotion_link {
  padding: 60px 20px;
  color: white;
  font-size: 26px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 2px;
  width: 100%;
}

.promotion_link span {
  font-weight: 600;
}

.head_search {
  position: relative;
  width: 190px;
  height: 30px;
  margin-top: 5px;
  border: 1px solid #e7e7e7;
  font-size: 16px;
  border-radius: 3px;
}

.search_btn {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  display: block;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  height: 20px;
  width: 20px;
  background-image: url(../img/search_ico.png);
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  z-index: 1;
}

.search_form {
  margin-left: 115px;
  position: relative;
  z-index: 1;
}

/*==============HEADER_NAV======HEAD_BOT====================*/

/*====================-===SECTION1===-=======================*/

.slider_box {
  max-height: 100vh;
}

.slider .slick-initialized .slick-slider {
  max-height: 100vh;
}

.slick-list .draggable {
  max-height: 100vh;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100vh;
}

.slick-list {
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 100vh;
}

.slick-slide {
  max-height: 100vh;
  width: 100%;
}

.slider_item {
  max-height: 100vh;
  position: relative;
}

.slide_img {
  margin-left: 13%;
  max-height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
}

.slide_title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: calc(24px + 426 *(100vw / 2050));
  color: #575153;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: calc( 100vw / 29);
}

.slide_collection_btn {
  position: absolute;
  bottom: 10%;
  right: 15%;
  width: 350px;
}

/*====================-===SECTION1===-=======================*/

/*====================-===SECTION2===-=======================*/

.section2 {
  border-top: 1px solid #eeeeee;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0px 55px 0px;
}

.cat_link {
  font-size: calc(10px + 3 *(100vw / 2050));
  line-height: 1.538;
  letter-spacing: normal;
  font-weight: 600;
  margin-right: 45px;
  padding: 5px;
  cursor: pointer;
}

.cat_link:first-child {
  margin-left: 15px;
}

.product_box {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto 0px auto;
  padding-bottom: 150px;
  border-bottom: 1px solid #878787;
  overflow: hidden;
}

.product_item {
  width: 32%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 10px 5px;
}

.product_praise {
  position: absolute;
  left: 5%;
  top: 5%;
  color: #878787;
  font-weight: 300;
  font-size: calc(12px + 4 *(100vw / 2050));
  font-family: "Roboto";
}
.product_item_info:hover {
    display: block;
  }

.product_item.active {
  z-index: 100;
  -webkit-box-shadow: 0px 17px 25px -11px #000000;
  box-shadow: 0px 17px 25px -11px #000000;
}

.product_item_info {
  display: none;
  position: absolute;
  bottom: -156px;
  left: 0;
  width: 100%;
  height: 180px;
  margin-top: -15px;
  background-color: white;
  -webkit-box-shadow: 0px 17px 25px -11px #000000;
  box-shadow: 0px 17px 25px -11px #000000;
}

.product_item_info.active {
  display: block;
}

.product_img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.info_svg {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 42px;
  width: 42px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: white;
  display: none;
}

.info_svg.active {
  display: block;
}

.product_name_box {
  margin: 20px 10px;
}

.product_name {
  font-size: calc(10px + 5 *(100vw / 2050));
  text-transform: uppercase;
  line-height: 1.538;
  color: black;
  font-weight: 500;
}

.product_name:hover {
  text-decoration: underline;
}

.product_description {
  text-align: center;
  font-size: calc(9px + 6 *(100vw / 2050));
  font-family: "Roboto";
  color: #8e8c8c;
  line-height: 1.467;
  font-weight: 400;
  padding: 0 10px;
}

.product_ico {
  height: 32px;
  width: 32px;
  margin: 7px;
  fill: #575153;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product_ico:hover,
.info_svg:hover {
  fill: #00c8c8;
}

/*====================-===SECTION2===-=======================*/

/*====================-===SECTION3===-=======================*/

.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 180px;
  width: 100%;
  padding: 0 10px;
}

.look_book_item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 33.33%;
  margin: 10px;
}

.look_book_text_cont {
  width: 60%;
  text-align: right;
}

.look_book_img {
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}
.local_footer{
  margin-top: 160px;
}
.look_book_title {
  padding: 55px 0px 35px 0px;
  width: 100%;
  font-size: calc(16px + 32 *(100vw / 2050));
  color: #575153;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.125;
}

.look_book_text {
  font-family: "Roboto";
  font-size: 15px;
  color: #727272;
  line-height: 1.467;
  word-wrap: wrap;
}

.look_book_btn {
  display: block;
  margin: 30px 5px 0 auto;
  width: 180px;
  height: 60px;
}

/*====================-===SECTION3===-=======================*/

/*====================-===MAIN===-=======================*/

/*====================-===BREND===-=======================*/

/*====================-===INTRO===-=======================*/

.brend_intro {
  position: relative;
  margin-top: 0px;
  text-align: center;
}

.brend_intro_photo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
}

.intro_h1 {
  margin: 170px auto 50px auto;
  font-size: 48px;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
  line-height: 1.125;
}

.intro_h1 span {
  font-size: 48px;
  font-weight: bold;
  color: white;
}

.intro_h2 {
  margin-bottom: 170px;
  font-size: 30px;
  color: white;
  line-height: 1.8;
  text-transform: uppercase;
  font-weight: normal;
}

/*====================-===INTRO===-=======================*/

/*====================-===SECTION1===-=======================*/

.brend_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1195px;
  width: 100%;
  margin: 0 auto 180px auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.brend_content1_block {
  width: 100%;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brend_content2_block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 46%;
  margin: 60px 10px 0px 10px;
}

.brend_content3_block {
  width: 46%;
  max-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -70px 10px 0px 10px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.brend_person_img {
  max-height: 400px;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.brend_person1_img {
  max-height: 400px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.brend_person1_text_cont {
  margin: 30px 30px;
}

._title {
  margin: 30px 0 30px 0;
  font-size: 18px;
  color: #575153;
  text-transform: uppercase;
  line-height: 1.111;
}

._subtitle {
  margin-bottom: 20px;
  font-size: 13px;
  color: #727272;
  line-height: 1.538;
}

._text {
  font-size: 15px;
  font-family: "Roboto";
  color: #8e8c8c;
  line-height: 1.467;
}

.half_block {
  width: 49%;
}

.brend_awards_box {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -100px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.award_item_link {
  margin: 20px;
}

/*====================-===SECTION1===-=======================*/

/*====================-===BREND===-=======================*/

/*====================-===LOCAL===-=======================*/

/*====================-===SECTION1===-=======================*/

.local_container {
  max-width: 1190px;
  margin: 10px auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

/*====================-===SECTION1===-=======================*/

/*====================-===SECTION2===-=======================*/

.choose_location_item {
  width: 31%;
  margin: 10px 10px 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.location_title {
  margin: 30px 0 30px 0;
  font-size: 18px;
  color: #575153;
  text-transform: uppercase;
  line-height: 1.111;
}

.location_subtitle {
  margin-bottom: 20px;
  font-size: 13px;
  color: #727272;
  line-height: 1.538;
}

.location_info {
  font-size: 15px;
  font-family: "Roboto";
  color: #8e8c8c;
  line-height: 1.467;
}

.location_btn {
  margin-top: 10px;
  max-width: 216px;
}

.google_map {
  height: 530px;
  width: 67%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.section_location_map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_map_item {
  position: relative;
  width: 31%;
  margin: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.about_location_list_item {
  position: relative;
  margin: 10px 0px 0px 0px;
  padding-left: 25px;
}

.about_location_list_item:first-child {
  margin: 25px 0px 0px 0px;
}

.about_location_link {
  font-size: 14px;
}

.location_ico {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  height: 15px;
  width: 15px;
  fill: #727272;
}

.location_ico:hover {
  fill: #00c8c8;
}

.soc_icons_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.location_soc_ico {
  height: 20px;
  width: 20px;
  margin: 10px;
  font-size: 14px;
  background-color: #878787;
  border-radius: 40%;
  fill: white;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.location_soc_ico:hover {
  background-color: #00c8c8;
}

.tab_content_hide {
  display: none;
}

/*====================-===SECTION2===-=======================*/

/*====================-===LOCAL===-=======================*/

/*==================-===LOOKBOOK===-=======================*/

/*====================-===SECTION1===-=======================*/

.promo_block {
  position: relative;
  width: 45%;
  background-image: url(../img/look_book_promo.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

.big_promo {
  position: relative;
  width: 74%;
  background-image: url(../img/look_book_big_promo.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

.product_link {
  max-width: 24%;
  margin: 10px 5px;
}

.look_book_product {
  position: relative;
  height: 100%;
}

.prod_soc_ico {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  fill: white;
  z-index: 10;
}

.look_book_dop_inf {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 10;
  opacity: 0;
}

.look_book_dop_inf:hover {
  opacity: 1;
}

.look_book_dop_link:first-child {
  position: absolute;
  top: 60%;
  left: 35%;
}

.look_book_dop_link:last-child {
  position: absolute;
  top: 60%;
  right: 35%;
}

.look_book_ico {
  width: 40px;
  height: 40px;
  fill: white;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 10;
}

.look_book_ico:hover {
  fill: #00c8c8;
}

.text_cont {
  max-width: 300px;
  font-size: 15px;
  font-family: "Roboto";
  line-height: 1.467;
}

.promo_title {
  font-size: calc(16px + 32 *(100vw / 2050));
  margin: 60px 0px 20px 0px;
  color: #575153;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.125;
}

.promo_title span {
  font-weight: bold;
}

.promo_info {
  margin: 0 0 0 20px;
}

.promo_info .look_book_btn {
  margin: 20px 0 0 0;
}

p {
  padding: 3px;
}

.promo_title .promo_link {
  color: #575153;
}

.text_cont_big {
  max-width: 500px;
}

.big_promo_title {
  position: absolute;
  right: 15px;
  top: 60%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: calc(16px + 56 *(100vw / 2050));
  color: #00c8c8;
  text-transform: uppercase;
  line-height: 1.25;
  text-align: right;
}

.big_promo_title span {
  font-size: calc(60px + 140 *(100vw / 2050));
  font-weight: bold;
  line-height: 0.27;
}

.foot_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 60px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer_bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.foot_ul {
  margin: 0 5px;
}

.foot_ul:first-child {
  margin-left: 5px;
}

.foot_ul.foot_ul:last-child {
  margin-right: 5px;
}

.foot_li {
  margin-bottom: 20px;
  color: #575153;
}

.foot_li:first-child {
  margin-bottom: 33px;
  font-weight: 500;
}

.foot_link {
  font-size: calc(10px + 4 *(100vw / 2050));
}

.add_l_h {
  line-height: 2;
}
.brend_content3_block{
  margin: 0px 10px 0 10px;
}
.award_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  height: 200px;
  font-size: calc(14px + 22 *(100vw / 2050));
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: #333333;
}

.text_awward {
  margin: auto;
}

.social_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  height: 200px;
  background-color: #00c8c8;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.foot_soc_ico {
  margin-top: 95px;
  height: 30px;
  width: 30px;
  fill: white;
}

.foot_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 60px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer_bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.foot_ul {
  margin: 0 5px;
}

.foot_ul:first-child {
  margin-left: 5px;
}

.foot_ul.foot_ul:last-child {
  margin-right: 5px;
}

.foot_li {
  margin-bottom: 20px;
  color: #575153;
}

.foot_li:first-child {
  margin-bottom: 33px;
  font-weight: 500;
}

.foot_link {
  font-size: calc(10px + 4 *(100vw / 2050));
}

.add_l_h {
  line-height: 2;
}

.award_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  height: 200px;
  font-size: calc(14px + 22 *(100vw / 2050));
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: #333333;
}

.text_awward {
  margin: auto;
}

.social_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  height: 200px;
  background-color: #00c8c8;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.foot_soc_ico {
  margin-top: 95px;
  height: 30px;
  width: 30px;
  fill: white;
}

.lazyframe {
  position: relative;
  background-color: currentColor;
  background-repeat: no-repeat;
  background-size: cover;
}

.lazyframe__title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 17px;
  z-index: 3;
}

.lazyframe__title:after {
  z-index: -1;
}

.lazyframe:hover {
  cursor: pointer;
}

.lazyframe:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.lazyframe[data-ratio="16:9"]:before {
  padding-top: 56.25%;
}

.lazyframe[data-ratio="4:3"]:before {
  padding-top: 75%;
}

.lazyframe[data-ratio="1:1"]:before {
  padding-top: 100%;
}

.lazyframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.lazyframe[data-vendor="youtube"],
.lazyframe[data-vendor="youtube_nocookie"] {
  background-color: #e52d27;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.lazyframe[data-vendor="youtube"] .lazyframe__title,
.lazyframe[data-vendor="youtube_nocookie"] .lazyframe__title {
  color: #eee;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 2px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: color 0.1s cubic-bezier(0.4, 0, 1, 1);
  -o-transition: color 0.1s cubic-bezier(0.4, 0, 1, 1);
  transition: color 0.1s cubic-bezier(0.4, 0, 1, 1);
}

.lazyframe[data-vendor="youtube"] .lazyframe__title:hover,
.lazyframe[data-vendor="youtube_nocookie"] .lazyframe__title:hover {
  color: #fff;
}

.lazyframe[data-vendor="youtube"] .lazyframe__title:before,
.lazyframe[data-vendor="youtube_nocookie"] .lazyframe__title:before {
  content: '';
  display: block;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.2), transparent);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(transparent));
  background: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
  height: 98px;
  width: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-tap-highlight-color: transparent;
}

.lazyframe[data-vendor="youtube"]:before,
.lazyframe[data-vendor="youtube_nocookie"]:before {
  padding-top: 56.25%;
}

.lazyframe[data-vendor="youtube"][data-ratio="16:9"]:before,
.lazyframe[data-vendor="youtube_nocookie"][data-ratio="16:9"]:before {
  padding-top: 56.25%;
}

.lazyframe[data-vendor="youtube"][data-ratio="4:3"]:before,
.lazyframe[data-vendor="youtube_nocookie"][data-ratio="4:3"]:before {
  padding-top: 75%;
}

.lazyframe[data-vendor="youtube"][data-ratio="1:1"]:before,
.lazyframe[data-vendor="youtube_nocookie"][data-ratio="1:1"]:before {
  padding-top: 100%;
}

.lazyframe[data-vendor="youtube"]:after,
.lazyframe[data-vendor="youtube_nocookie"]:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 68px;
  height: 48px;
  margin-left: -34px;
  margin-top: -24px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjU1LjcgNDQ2LjNjLTUzLjMuMy0xMDYuNi0uNC0xNTkuOC0zLjMtMTcuNC0xLTM0LjctMi41LTUwLjQtMTFDMzUgNDI2LjMgMjcgNDE4LjQgMjIgNDA3LjIgMTMuMiAzODguNiAxMC41IDM2OSA5IDM0OWMtMy40LTQxLjMtMy42LTgyLjYtMS44LTEyMy44IDEtMjIgMS42LTQ0IDYuOC02NS41IDItOC40IDUtMTYuNiA4LjgtMjQuNEMzMiAxMTcgNDggMTA4IDY3LjMgMTA0YzE2LjItMyAzMi44LTMgNDkuMy0zLjcgNTYtMi4zIDExMi0zLjUgMTY4LTMgNDMgLjYgODYuMiAxLjcgMTI5LjMgNCAxMy4yLjYgMjYuNi44IDM5LjMgNS41IDE3LjIgNi40IDMwIDE3LjIgMzcgMzQuNyA2LjYgMTYuOCA5LjIgMzQuMiAxMC42IDUyIDMuOCA0OC43IDQgOTcuMy43IDE0Ni0xIDE2LjMtMi4yIDMyLjctNi41IDQ4LjgtOS43IDM3LTMyLjggNTEuNS02Ni43IDUzLjgtMzYuMiAyLjUtNzIuNSAzLjgtMTA4LjggNC4zLTIxLjMuMi00Mi43IDAtNjQgMHpNMjAzLjIgMzQ0TDM0OCAyNjQuN2wtMTQ0LjgtNzkuM1YzNDR6IiBmaWxsPSIjIzFmMWYxZiIvPjxwYXRoIGQ9Ik0yMDMuMiAzNDRWMTg1LjVMMzQ4IDI2NC44IDIwMy4yIDM0NHoiIGZpbGw9IiNGRUZERkQiLz48L3N2Zz4=");
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: .81;
  border: none;
  z-index: 4;
}

.lazyframe[data-vendor="youtube"]:hover:after,
.lazyframe[data-vendor="youtube_nocookie"]:hover:after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjU1LjcgNDQ2LjNjLTUzLjMuMy0xMDYuNi0uNC0xNTkuOC0zLjMtMTcuNC0xLTM0LjctMi41LTUwLjQtMTFDMzUgNDI2LjMgMjcgNDE4LjQgMjIgNDA3LjIgMTMuMiAzODguNiAxMC41IDM2OSA5IDM0OWMtMy40LTQxLjMtMy42LTgyLjYtMS44LTEyMy44IDEtMjIgMS42LTQ0IDYuOC02NS41IDItOC40IDUtMTYuNiA4LjgtMjQuNEMzMiAxMTcgNDggMTA4IDY3LjMgMTA0YzE2LjItMyAzMi44LTMgNDkuMy0zLjcgNTYtMi4zIDExMi0zLjUgMTY4LTMgNDMgLjYgODYuMiAxLjcgMTI5LjMgNCAxMy4yLjYgMjYuNi44IDM5LjMgNS41IDE3LjIgNi40IDMwIDE3LjIgMzcgMzQuNyA2LjYgMTYuOCA5LjIgMzQuMiAxMC42IDUyIDMuOCA0OC43IDQgOTcuMy43IDE0Ni0xIDE2LjMtMi4yIDMyLjctNi41IDQ4LjgtOS43IDM3LTMyLjggNTEuNS02Ni43IDUzLjgtMzYuMiAyLjUtNzIuNSAzLjgtMTA4LjggNC4zLTIxLjMuMi00Mi43IDAtNjQgMHpNMjAzLjIgMzQ0TDM0OCAyNjQuN2wtMTQ0LjgtNzkuM1YzNDR6IiBmaWxsPSIjREQyQzI4Ii8+PHBhdGggZD0iTTIwMy4yIDM0NFYxODUuNUwzNDggMjY0LjggMjAzLjIgMzQ0eiIgZmlsbD0iI0ZFRkRGRCIvPjwvc3ZnPg==");
  opacity: 1;
}

.lazyframe[data-vendor="vimeo"] {
  background-color: #00adef;
}

.lazyframe[data-vendor="vimeo"] .lazyframe__title {
  font-family: "Helvetica Neue", Helvetica, Arial;
  color: #00adef;
  font-size: 20px;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: auto;
  -webkit-tap-highlight-color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
}

.lazyframe[data-vendor="vimeo"]:before {
  padding-top: 48.25%;
}

.lazyframe[data-vendor="vimeo"][data-ratio="16:9"]:before {
  padding-top: 56.25%;
}

.lazyframe[data-vendor="vimeo"][data-ratio="4:3"]:before {
  padding-top: 75%;
}

.lazyframe[data-vendor="vimeo"][data-ratio="1:1"]:before {
  padding-top: 100%;
}

.lazyframe[data-vendor="vimeo"]:after {
  content: '';
  height: 40px;
  width: 65px;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgYmFzZVByb2ZpbGU9InRpbnkiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTcuNzY1IDE2Ljg5bDguNDctNC44OS04LjQ3LTQuODkiLz48L3N2Zz4=");
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
  position: relative;
}

.lazyframe[data-vendor="vimeo"]:hover:after {
  background-color: #00adef;
}

.lazyframe[data-vendor="vine"] {
  background-color: #00bf8f;
}

.lazyframe[data-vendor="vine"] .lazyframe__title {
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
  z-index: 3;
  positon: relative;
}

.lazyframe[data-vendor="vine"] .lazyframe__title:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 115px;
  padding: 24px 70px 24px 24px;
  background: -o-linear-gradient(bottom, rgba(23, 23, 23, 0) 0, rgba(23, 23, 23, 0.7) 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(23, 23, 23, 0)), to(rgba(23, 23, 23, 0.7)));
  background: linear-gradient(to top, rgba(23, 23, 23, 0) 0, rgba(23, 23, 23, 0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#b3171717", endColorstr="#00171717", GradientType=0 );
}

.lazyframe[data-vendor="vine"]:before {
  padding-top: 100%;
}

.lazyframe[data-vendor="vine"][data-ratio="16:9"]:before {
  padding-top: 56.25%;
}

.lazyframe[data-vendor="vine"][data-ratio="4:3"]:before {
  padding-top: 75%;
}

.lazyframe[data-vendor="vine"][data-ratio="1:1"]:before {
  padding-top: 100%;
}

.lazyframe[data-vendor="vine"]:after {
  content: '';
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 4;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMzYiIGhlaWdodD0iMTM2IiB2aWV3Qm94PSIwIDAgMTM2IDEzNiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTU2IDQ0Yy0uNyAwLTEuNC4yLTIgLjUtMS4yLjgtMiAyLTIgMy41djQwYzAgMS40LjggMi44IDIgMy41LjYuMyAxLjMuNSAyIC41czEuNC0uMiAyLS41bDM0LjYtMjBjMS4zLS43IDItMiAyLTMuNSAwLTEuNC0uNy0yLjgtMi0zLjVMNTggNDQuNWMtLjYtLjMtMS4zLS41LTItLjV6Ii8+PC9zdmc+");
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
}

.lazyframe[data-vendor="vine"]:hover:after {
  background-color: rgba(0, 0, 0, 0.75);
}

.webp .cart_btn:before {
  background-image: url(../img/cart_white.webp);
}

.webp .cart_btn:after {
  background-image: url(../img/arrow_down_white.webp);
}

.webp .choose_currency_btn:after {
  background-image: url(../img/arrow_down_gray.webp);
}

.webp .currency_type_btn1:after {
  background-image: url(../img/003-euro.webp);
}

.webp .currency_type_btn2:after {
  background-image: url(../img/001-dollar.webp);
}

.webp .currency_type_btn3:after {
  background-image: url(../img/002-pound-sterling.webp);
}

.webp .currency_type_btn4:after {
  background-image: url(../img/004-chinese-yuan.webp);
}

.webp .nav_link_ar:after {
  background-image: url(../img/arrow_down_gray.webp);
}

.webp .nav_link.active.nav_link:after {
  background-image: url(../img/arrow_down.webp);
}

.webp .search_btn {
  background-image: url(../img/search_ico.webp);
}

.webp .cart_btn:before {
  background-image: url(../img/cart_white.webp);
}

.webp .cart_btn:after {
  background-image: url(../img/arrow_down_white.webp);
}

.webp .choose_currency_btn:after {
  background-image: url(../img/arrow_down_gray.webp);
}

.webp .currency_type_btn1:after {
  background-image: url(../img/003-euro.webp);
}

.webp .currency_type_btn2:after {
  background-image: url(../img/001-dollar.webp);
}

.webp .currency_type_btn3:after {
  background-image: url(../img/002-pound-sterling.webp);
}

.webp .currency_type_btn4:after {
  background-image: url(../img/004-chinese-yuan.webp);
}

.webp .nav_link_ar:after {
  background-image: url(../img/arrow_down_gray.webp);
}

.webp .nav_link.active.nav_link:after {
  background-image: url(../img/arrow_down.webp);
}

.webp .search_btn {
  background-image: url(../img/search_ico.webp);
}

.webp .promo_block {
  background-image: url(../img/look_book_promo.webp);
}

.webp .big_promo {
  background-image: url(../img/look_book_big_promo.webp);
}

@media (max-width: 1500px) {
  .promo_title {
    margin: 10px 0px;
  }
}

@media (max-width: 1300px) {
  .look_book_btn {
    width: 150px;
    height: 40px;
    line-height: 40px;
  }

  .section3 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .nav_list_item {
    padding: 10px 10px;
  }

  .cat_link {
    margin-right: 15px;
  }

  .search_form {
    margin-left: 40px;
  }

  .head_logo_link {
    margin: 0px 30px 0px 5px;
  }

  ._subtitle {
    margin-bottom: 10px;
  }

  .promo_info .look_book_btn {
    margin: 10px 0 0 0;
  }
}

@media (max-width: 1100px) {
  .product_item {
    max-width: 31%;
  }

  .promo_title {
    margin: 0;
  }

  .text_cont_big {
    max-width: 350px;
    z-index: 10;
  }

  .text_cont {
    max-width: 200px;
  }

  .promo_text {
    color: black;
  }

  .nav_link,
  .head_search {
    font-size: 10px;
  }

  .head_logo {
    width: 150px;
    margin-top: 8px;
  }

  .categories {
    padding: 50px 0px 20px 0px;
  }
  .section3 {
    margin-bottom: 50px;
  }

  .nav_link_ar:after {
    left: -13px;
    bottom: -8px;
  }

  .look_book_item {
    max-width: 47%;
  }

  .look_book_img {
    width: 100%;
  }
}

@media (max-width: 900px) {
  /*==BURGER=HERE===*/

  .head_logo_link {
    margin: 0px 0px 0px 5px;
  }

  .big_container {
    display: none;
  }

  .search_form {
    display: none;
  }

  .search {
    margin: 0px;
    font-size: 12px;
  }

  .head_logo_link_mobal_version {
    position: absolute;
    left: 10px;
    top: 5px;
    display: block;
    width: 150px;
    z-index: 1;
    background: transparent;
  }

  .search_form_mobal_version {
    position: absolute;
    display: block;
    left: 50%;
    top: 5px;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 10;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #333333;
    border-radius: 0 0 5px 5px;
  }

  .cart_btn_li {
    margin-left: 10px;
  }

  .sing_in_btn {
    margin-left: 10px;
  }

  .search_btn {
    top: 55%;
    right: 8px;
  }

  /*====================BURGER====================*/

  body.active {
    overflow: hidden;
  }

  .nav_burger {
    display: none;
  }

  .nav_burger.active {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 500px;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
    margin-top: 0;
    border-radius: 0 5px 5px 0;
    -webkit-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
  }

  .nav_burger.active {
    display: block;
  }

  .overlay.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.5);
    z-index: 5;
  }

  .burger_logo.active {
    display: block;
  }

  .burger_box {
    position: absolute;
    display: block;
    position: fixed;
    top: 60px;
    right: 20px;
    width: 30px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    z-index: 20;
  }

  .burger_span {
    position: absolute;
    left: 0;
    top: 8px;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border: 1px solid #575153;
    z-index: 20;
  }

  .burger_box:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 4px;
    width: 100%;
    content: '';
    background-color: #fff;
    border: 1px solid #575153;
    cursor: pointer;
    z-index: 20;
  }

  .burger_box:after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    content: '';
    background-color: #fff;
    border: 1px solid #575153;
    cursor: pointer;
    z-index: 20;
  }

  .burger_box.active .logo_burger {
    display: block;
  }

  .ul_burger.active {
    display: block;
  }

  .logo_burger {
    position: absolute;
    left: 20px;
    top: 15px;
    color: white;
    font-size: 28px;
    border-bottom: 1px solid;
  }

  .burger_link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 20px;
    padding-left: 20px;
  }

  .nav_list {
    display: none;
  }

  .brand {
    padding: 8px 20px;
  }

  .accordion_box {
    margin-top: 70px;
  }

  .accordion_item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #575153;
  }

  .accordeon_input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .accordion_triger {
    position: relative;
    padding: 20px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .accordion_triger:after {
    position: absolute;
    top: 20px;
    right: 0;
    content: "";
    width: 10px;
    height: 10px;
    background-image: url(../img/arrow_down_gray.png);
    -webkit-transform: rotateZ(180deg);
    -ms-transform: rotate(180deg);
    transform: rotateZ(180deg);
    background-repeat: no-repeat;
  }

  .accordeon_item_content {
    display: none;
    margin-top: 30px;
    padding: 10px 0px;
  }

  .accordeon_input:checked ~ .accordion_triger {
    color: #00c8c8;
    text-decoration: underline;
  }

  .accordeon_input:checked ~ .accordion_triger:after {
    top: 25px;
    -webkit-transform: rotateZ(360deg);
    -ms-transform: rotate(360deg);
    transform: rotateZ(360deg);
    background-image: url(../img/arrow_down.png);
  }

  .accordeon_input:checked ~ .accordeon_item_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
  }

  .burger_social_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: auto;
  }

  .foot_soc_link {
    margin: 5px 20px;
  }

  .burger_soc_ico {
    width: 50px;
    height: 50px;
    padding: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .burger_soc_ico:hover {
    fill: #00c8c8;
  }

  /*====================BURGER====================*/

  .webp .accordion_triger:after {
    background-image: url(../img/arrow_down_gray.webp);
  }

  .webp .accordeon_input:checked ~ .accordion_triger:after {
    background-image: url(../img/arrow_down.webp);
  }
}

@media (max-width: 750px) {
  .footer_top {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0px 15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .brend_person_img{
    width: 100%;
  }
  .brend_content1_block,.brend_content3_block{
    text-align: center;
    align-items: center;
  }
  .brend_content1_block picture,.brend_content3_block picture{
    margin: 0 auto;
  }

  .foot_ul {
    width: 30%;
  }

  .foot_li {
    margin-bottom: 10px;
  }

  .foot_li:first-child {
    margin-top: 10px;
    margin-bottom: 25px;
    font-weight: 600;
  }

  .look_book_item {
    max-width: 100%;
    margin: 0 auto;
  }

  .look_book_img {
    max-width: 100%;
    width: auto;
  }

  .look_book_text_cont {
    width: 70%;
  }

  .search_form_mobal_version {
    left: 110px;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .look_book_text_cont {
    margin-right: 10px;
  }

  .brend_awards_box {
    width: 100%;
    margin-top: 50px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .brend_content1_block {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .brend_person1_img {
    max-width: 100%;
  }

  .brend_person1_text_cont,
  .brend_person2_text_cont {
    margin: 15px;
  }

  .brend_content2_block,
  .brend_content3_block {
    width: 100%;
    margin: 10px 0px;
  }

  .local_container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .choose_location_item {
    width: 100%;
  }

  .google_map {
    display: none;
  }

  .about_map_item {
    width: 100%;
  }
}

@media (max-width: 620px) {

  .categories {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .cat_link {
    text-align: center;
    margin-right: 5px;
  }

  .cart_btn {
    width: 70px;
  }

  .cart_btn:before {
    display: none;
  }

  .cart_btn:after {
    right: 55px;
  }

  .slide_img {
    margin-left: 0;
  }
  .product_ico{
    width: 20px;
    height: 20px;
  }
  .product_name_box {
    margin: 10px 5px;
  }

  .slide_collection_btn {
    position: absolute;
    bottom: 10%;
    right: 15%;
    width: 200px;
    letter-spacing: normal;
    line-height: 30px;
    background-color: #333333;
    color: white;
    border: 1px solid white;
  }

  .foot_ul {
    width: 45%;
  }
}

@media (max-width: 500px) {
  .top_menu_actions {
    display: none;
  }

  .account_actions_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 80px;
  }

  .burger_account_action {
    position: relative;
    margin: 5px 10px 5px 10px;
    padding: 10px;
  }

  .burger_account_action:first-child {
    margin-right: 20px;
    color: #00c8c8;
  }

  .burger_account_action:first-child::after {
    position: absolute;
    right: -15px;
    top: 50%;
    width: 20px;
    height: 20px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    display: block;
    content: '';
    background-image: url(../img/cart_blue.png);
    background-repeat: no-repeat;
  }

  .nav_burger.active {
    width: 100%;
  }

  .accordion_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .accordeon_item_content {
    margin-top: 10px;
  }

  .brand {
    padding: 21px 20px 0px 20px;
  }

  .burger_link.brand {
    margin-bottom: 0;
  }

  .accordeon_input:checked ~ .accordeon_item_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 35%;
  }

  .burger_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
  }

  .accordion_triger {
    height: 30px;
    width: 100%;
  }

  .accordion_box {
    margin-top: 10px;
  }

  .webp .burger_account_action:first-child::after {
    background-image: url(../img/cart_blue.webp);
  }
}

@media (max-width: 420px) {
  .burger_box {
    top: 15px;
  }

  .product_item {
    width: 47%;
    max-width: 100%;
  }

  .look_book_item {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
  }
  .look_book_item picture{
    margin: 0 auto;
  }
  .look_book_text_cont{
    width: 100%;
    text-align: center;
  }
  .look_book_btn{
    margin: 15px auto;
  }
  .look_book_title{
    padding: 5px 0;
  }

  .look_book_img {
    max-width: 100%;
    width: 100%;
  }

  .foot_soc_link {
    margin: 5px 5px;
  }

  .categories {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .cat_link {
    width: 30%;
    margin-bottom: 5px;
  }

  .head_search {
    display: none;
    width: 100px;
  }

  .head_search .active {
    display: block;
    width: 100px;
  }

  .search_form_mobal_version {
    right: 50px;
    top: 20px;
  }
}
@media (max-width: 340px) {
  .product_item{
    max-width: 100%;
    width: 100%;
  }

}
.webp .cart_btn:before { background-image: url(../img/cart_white.webp); }

.webp .cart_btn:after { background-image: url(../img/arrow_down_white.webp); }

.webp .choose_currency_btn:after { background-image: url(../img/arrow_down_gray.webp); }

.webp .currency_type_btn1:after { background-image: url(../img/003-euro.webp); }

.webp .currency_type_btn2:after { background-image: url(../img/001-dollar.webp); }

.webp .currency_type_btn3:after { background-image: url(../img/002-pound-sterling.webp); }

.webp .currency_type_btn4:after { background-image: url(../img/004-chinese-yuan.webp); }

.webp .nav_link_ar:after { background-image: url(../img/arrow_down_gray.webp); }

.webp .nav_link.active.nav_link:after { background-image: url(../img/arrow_down.webp); }

.webp .search_btn { background-image: url(../img/search_ico.webp); }

.webp .cart_btn:before { background-image: url(../img/cart_white.webp); }

.webp .cart_btn:after { background-image: url(../img/arrow_down_white.webp); }

.webp .choose_currency_btn:after { background-image: url(../img/arrow_down_gray.webp); }

.webp .currency_type_btn1:after { background-image: url(../img/003-euro.webp); }

.webp .currency_type_btn2:after { background-image: url(../img/001-dollar.webp); }

.webp .currency_type_btn3:after { background-image: url(../img/002-pound-sterling.webp); }

.webp .currency_type_btn4:after { background-image: url(../img/004-chinese-yuan.webp); }

.webp .nav_link_ar:after { background-image: url(../img/arrow_down_gray.webp); }

.webp .nav_link.active.nav_link:after { background-image: url(../img/arrow_down.webp); }

.webp .search_btn { background-image: url(../img/search_ico.webp); }

.webp .promo_block { background-image: url(../img/look_book_promo.webp); }

.webp .big_promo { background-image: url(../img/look_book_big_promo.webp); }

@media (max-width: 900px) {

  .webp .accordion_triger:after { background-image: url(../img/arrow_down_gray.webp); }
}

@media (max-width: 900px) {

  .webp .accordeon_input:checked ~ .accordion_triger:after { background-image: url(../img/arrow_down.webp); }
}

@media (max-width: 500px) {

  .webp .burger_account_action:first-child::after { background-image: url(../img/cart_blue.webp); }
}
